h1 {
    color: purple;
}

h2 {
    color: blue;

}

* {
    color: red;
}

.creation-date {
    color: yellow;
}

body > header {

background-color: gray
;

}

h3{
    color: black;
}
